chole
lauki_sabji
paneer_kofta
tea
dal_makhni
maggi
pasta
test
aloo_beans
dos
mango
pav_bhaji
apple
models
pineapple
banana
gobi_manchurian
momos
rajma
toor_dal
besan_ladoo
idli
mushroom_masala
rice
vada
bhindi_sabji
img
oats
sauage
chicken_curry
.ipynb_checkpoints
palak_paneer
dosa
